<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="content">
      {% include header.html %}
      <div class="splash">
        <div class="scrimview"></div>
        <div class="greetings">
          <p>kaixo, i'm smith.</p>
        </div>
      </div>

      <div class="wrapper">
        {{ content }}
      </div>
    </div>


    <!-- <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div> -->

    {% include footer.html %}

  </body>

</html>
